div{font-size: xx-large; text-decoration-style: double; color: chartreuse;
    border: 2px solid rebeccapurple; margin: 20px; box-shadow: 20px 20px 20px red; border-radius: 10px; background-image: url('../Styles/MY.jpg'); background-size:1000px; size: 1000px;
}